#contact-info { font-size: .8em;
 				}
.job {border-radius: 5px;
	  background-color: #e9e5dc;
	  margin-top: 30px;
	  padding: 10px;
}

.list {font-size: .8em;}

li:first-child {color:red;}
/* Release 2

What does the "Cascading" part of Cascading Style Sheets mean? 
When there is a conflict between two CSS rules that select the same element, 
how does your browser decide which rule to use?

The order in which changes to the element or elements apply.

What is a pseudoselector?

Adds a special state to an element where the style is changes based on how it's selected. Hovering over a link or visting a link.

